html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  text-align: center;
}

button.updateGridCountButton {
  align-items: center;
  margin: 10px;
  font-size: larger;
}

div.container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

div.subcontainer {
  flex: 1;
  justify-content: center;
}

div.square {
  aspect-ratio: 1 / 1; /* keeps them square */
}
